In [1]:
#Built-in functions

In [2]:
#abs()
num=-120
abs(num)

120

In [3]:
#divmod()
divmod(5,10)

(0, 5)

In [4]:
#User-defined functions

In [7]:
#return statement
def double(num):
    """
    whatever the number you enter....it just double here
    """
    return 2*num

In [8]:
print(double.__doc__)

    whatever the number you enter....it just double here

In [9]:
double(6)

12

In [10]:
def double(num):
    return 2*int(num)

In [11]:
double(12.3)

24

In [14]:
def sub(num1,num2):
    return num1-num2
    
sub(4,2)

2

In [15]:
def print_name(x):
    print("hello",x)

In [16]:
print_name("Priya")

hello Priya

In [17]:
print_name(150)

hello 150

In [18]:
def get_sum(lst):
    sum=0
    for num in lst:
        sum+=num
    return sum
get_sum([1,2,3,4])

10

In [19]:
def num_6_8(i):
    for num in range(1,i):
        if num%6==0 and num%8!=0:
            print(num)
num_6_8(50)

6
12
18
30
36
42

In [20]:
lst=[1,2,3,4,5]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

6 9

In [27]:
#define the function
def f__n(1):
    even_sum=0
    odd_sum=0
    for i in 1:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    print(even_sum,odd_sum)

SyntaxError: invalid syntax (3093049667.py, line 2)

In [28]:
#Function arguments

In [30]:
def greet(name,msg):
    print("hello {}, {}".format(name,msg))
greet("jyoti","good morning")

hello jyoti, good morning

In [31]:
#Different forms of arguments

In [34]:
#Function with no argument
def even_num():
    lb=int(input("enter the starting number"))
    ub=int(input("enter the upper bound"))
    for i in range(lb,ub+1):
        if i%2==0:
            print(i)

In [35]:
even_num()

enter the starting number 15
enter the upper bound 50

16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [36]:
#Default arguments

In [37]:
def greet(name,msg="good morning"):
    print("hello {},{}".format(name,msg))
greet("satish","good night")

hello satish,good night

In [38]:
#without msg argument 
greet("satish")

hello satish,good morning

In [39]:
#Keyword argument

In [40]:
def greet(**kwargs):
    if kwargs:
        print("hello {}, {}".format(kwargs['name'],kwargs['msg']))
greet(name="good",msg="good morning")

hello good, good morning

In [41]:
#Arbitary arguments

In [42]:
def greet(*names):
    print(names)
    for name in names:
        print("hello, {0}".format(name))

In [43]:
greet("satish","riya")

('satish', 'riya')
hello, satish
hello, riya

In [44]:
#Recursive function

In [45]:
def factorial(num):
    if num==0:
        return 1
    else:
        return num * factorial(num-1)

In [48]:
num=6
print("factorial of {} is {}".format(num,factorial(num)))

factorial of 6 is 720

In [1]:
#Python program to make a simple calculator that can add, subtract, multiply and divide

In [3]:
def add(a,b):
    return a+b
def multiply(a,b):
    return a*b
def subtract(a,b):
    return a-b
def division(a,b):
    return a/b

print("select option")
print("1. Addition")
print("2. Subtraction")
print("3. multiply")
print("4. division")

choice=int(input("enter choice 1/2/3/4 "))

num1=int(input("enter first number"))
num2=int(input("enter second number"))
if choice==1:
    print("addition of {} and {} is {}".format(num1, num2, add(num1, num2)))
elif choice==2:
    print("subtraction of {} and {} is {}".format(num1, num2, subtract(num1, num2)))
elif choice==3:
    print("multiplication of {} and {} is {}".format(num1, num2, multiply(num1, num2)))
elif choice==4:
    print("division of {} and {} is {}".format(num1,num2, division(num1, num2)))
else:
    print("invalid choice")

select option
1. Addition
2. Subtraction
3. multiply
4. division

enter choice 1/2/3/4  3
enter first number 12
enter second number 4

multiplication of 12 and 4 is 48