In [1]:
#For loop

In [2]:
seq=[1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [3]:
seq=[11,2,32,40]
for item in seq:
    print(item)

11
2
32
40

In [4]:
cars=['audi','bmw','mercedes','wagonr']
for x in cars:
    print(x)

audi
bmw
mercedes
wagonr

In [5]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [6]:
x="123"
for demo in x:
    print(demo,end=' ')

1 2 3

In [7]:
for x in range(15):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello
11 hello
12 hello
13 hello
14 hello

In [8]:
#print 1 to 10 natural numbers
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [9]:
#for loop to print all the numbers between 10 and 50
for i in range(11,51):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [10]:
#print even numbers in descending order from 1 to 100
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [11]:
#for loop to print all the odd numbers between 10 and 50
for i in range(11,50,2):
    print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [12]:
items=['item1','item2','item3','item4']
for i in range(len(items)):
    print('item at index',i,'is',items[i])

item at index 0 is item1
item at index 1 is item2
item at index 2 is item3
item at index 3 is item4

In [13]:
#print sum of n whole numbers 
a=[12,5,9,1]
sum1=0
for i in a:
    sum1=sum1+i
print("sum:",sum1)

sum: 27

In [14]:
b=[1,2,3,4,5]
sum=0
for i in b:
    sum=sum+i
    print("after",i,"iteration the sum",sum)

after 1 iteration the sum 1
after 2 iteration the sum 3
after 3 iteration the sum 6
after 4 iteration the sum 10
after 5 iteration the sum 15

In [15]:
#program to iterate through a list using indexing
car=['bmw','mercedes','audi','wagonr']
for i in range(1):
    print("I like",car[2])

I like audi

In [17]:
#program to get all the even numbers within a range
lb=int(input('enter the starting number'))
ub=int(input('enter the ending number'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=' ')

enter the starting number 12
enter the ending number 45

12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44

In [18]:
n=int(input('enter the number'))
for i in range(n):
    print("*",end=" ")

enter the number 6

* * * * * *

In [19]:
#program to find the sum of even numbers in between given range
lb=int(input('enter lower bound'))
ub=int(input('enter upper bound'))
sum=0
for i in range(lb,ub+1):
    if(i%2==0):
        sum=sum+i
        print(i,end=' ')
print('\nsum is',sum)

enter lower bound 20
enter upper bound 40

20 22 24 26 28 30 32 34 36 38 40
sum is 330

In [20]:
#program that gives the numbers between 1 to 100 which are divisible by 5 and not by 7
for i in range(1,101):
    if i%5==0 and i%7!=0:
        print(i)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100

In [21]:
#program to print mathematical tables
n=int(input('enter the number'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter the number 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [22]:
n=int(input('enter the number:'))
for i in range(n):
    for j in range(n+1,):
        print('*',end=' ')

enter the number: 5

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [23]:
#List Comprehension

In [24]:
#without list comprehension
squares=[]
for i in range(10):
    squares.append(i**2)      #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
cars=['bmw','mercedes','audi','wagonr']
[len(cars) for cars in cars]

[3, 8, 4, 6]

In [26]:
list2=[-2,-4,-5,-8,-3]
absv=[abs(x) for x in list2]
absv

[2, 4, 5, 8, 3]

In [27]:
lst=[-2,-4,-5,-3,4]
both=[]
for x in lst:
    if x<0:
        both.append(abs(x))
    else:
        both.append(x**3)
both

[2, 4, 5, 3, 64]

In [28]:
[abs(x) if x<0 else x**3 for x in list2]

[2, 4, 5, 8, 3]

In [29]:
#Set Comprehension

In [30]:
colour=['blue','red','yellow','pink']
a=set()
for i in colour:
    a.add(len(i))
a

{3, 4, 6}

In [31]:
colour=['yellow','red','blue','pink']
{len(i) for i in colour}

{3, 4, 6}

In [32]:
#Enumerate
movies={'Departed':9,'Titanic':9.2,'Aviator':8.7,'Avatar':9.1}
{movie:rating for movie,rating in enumerate(movies)}

{0: 'Departed', 1: 'Titanic', 2: 'Aviator', 3: 'Avatar'}

In [33]:
#Break Statement

In [34]:
numbers=[1,2,3,4]
for num in numbers:
    if num==4:
        break
        print(num)

In [35]:
#Continue Statement

In [36]:
#print odd numbers present in a list
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        continue
    print(num)

1
3
5

In [37]:
#For loop with else

In [38]:
numbers=[1,2,3,4]
for item in numbers:
    print(item)
else:
    print('no item left in the list')

1
2
3
4
no item left in the list

In [39]:
demo=[12,1,3,1,4,1,8]
for item in demo:
    if item%2==0:
        print(item)

12
4
8

In [40]:
lst=[1,16,10,2,7]
for item in lst:
    if item%2==0:
        print(item)
        break

16

In [41]:
#While loop

In [42]:
x=0
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [43]:
x=0
while x<8:
    print("x is",x)
    x=x+1

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7

In [44]:
x=10
while x>1:
    print("x is {}".format(x))
    x-=1

x is 10
x is 9
x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [45]:
i=100
s=50
while i<=300:
    s=s+1
    i=i+100
print(s)

53

In [46]:
i=0
s=0
while(i<=6):
    s=s+1
    i+=2
print(s)

4

In [47]:
x=0
print(x)
while x<7:
    x=x+1
print(x)

0
7

In [48]:
i=0
s=0
while x<5:
    x=x+1
print(x)

7

In [49]:
#program to print 0 to 100(inclusive) whole numbers
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [50]:
#program to add n natural numbers
x=int(input('enter x:'))
sum=0
i=1
while i<=x:
    sum=sum+i
    i=i+1
print('the sum is',sum)

enter x: 6

the sum is 21

In [51]:
#product of all numbers present in a list
lst=[5,10,3,1]
product=1
index=0
while index<len(lst):
    product*=lst[index]
    index+=2
print('product is:{}'.format(product))

product is:15

In [52]:
#While loop with else
x=8
while x>1:
    print('x is {}'.format(x))
    x-=1
    if x==9:
        break
else:
    print('x is no longer greater than 1')

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [53]:
x=0
while x<8:
    print("x is {}".format(x))
    x+=1
else:
    print("x is no longer < 8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer < 8

In [54]:
numbers=[1,2,3,4,5]
index=0
while index<len(numbers):
    print(numbers[index])
    index+=1
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

In [55]:
#Factorial

In [56]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 6

720

In [58]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:",fact)

 5

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120